.boton-clear {
  height: 80px;
  font-size: 1.5em;
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color:#0246ac;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.boton-clear:hover {
  background-color: #769117;
}