# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



  # const handleClose = () => setShow(false);
  # const handleShow = () => setShow(true);

      # <ModalError show={show} handleClose={handleClose} />
# import Button from "react-bootstrap/Button";
# import Modal from "react-bootstrap/Modal";

# function ModalError({ show, handleClose }) {
#   return (
#     <>
#       <Modal show={show} onHide={handleClose}>
#         <Modal.Header closeButton>
#           <Modal.Title>Alerta</Modal.Title>
#         </Modal.Header>
#         <Modal.Body>No es una Expresion Matematica</Modal.Body>
#         <Modal.Footer>
#           <Button variant="primary" onClick={handleClose}>
#             Ok
#           </Button>
#         </Modal.Footer>
#       </Modal>
#     </>
#   );
# }

# export default ModalError;

