* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #404064;
}

h1 {
}

.App {
  height: 100vh;
  /* Centramos todos los elementos en vertical y horizontal */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 15px;
  font-family: "Poppins", sans-serif;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo {
  height: 50px;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
